.hero {
  background-color: steelblue;

  nav {
    display: flex;

    li {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
  }
}

/*Il codice sotto è molto lungo e noioso. Ripeto meglio sopra
NESTING
*/

// .hero{
//     background-color: steelblue;
// }

// .hero nav{
//     display: flex;
// }

// .hero nav li{
//     list-style: none;
// }

// .hero nav li a{
//     text-decoration: none;
// }

//ALTRO ESEMPIO DI NESTING
//In questo modo gli stessi valori si applicano a due elementi padre: home - main
.home,
.main {
  font-size: 2rem;

  .cta {
    color: #000;
  }

  .title {
    font-size: 4rem;

    span {
      font-weight: bold;
    }

    @media (min-width500px) {
      text-decoration: none;
    }
  }

  @media (min-width: 500px) {
    background-color: red;
    display: grid;
  }
}

//Non c'è bisogno di specificare a chi si applica il @media perchè è annidato e in automatico lo applica al padre

.card {
  color: teal;

  &:hover{
    color: crimson;
  }

  :not(&){
    opacity: 0;
  }

  &__title{
    text-align: center;
  }
}

//Il segno di & serve perche si traduca in css con card, cioè con il padre. altrimenti lascia uno spazio e non lavora come pseudo classe o pseudo elemento in css.
//In questa maniera è piu semplice scrivere codice in sass senza ripetere parole
